

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navigation bar */

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav_bar_option {
  float: left;
}

.nav_bar_option .nav_bar_text {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav_bar_option .nav_bar_text:hover {
  background-color: #333; /* Change the link color to gray on hover */
}

/*Sections*/

#wrapper {
    margin-left:auto;
    margin-right:auto;
}

.info_section_heading {
    font-size: 40px;
    text-align: center;
}

section {
    width: 100vw;
    height: 100vh;  /*fills height*/
    padding-top: 30px; /*so nav doesnt cover headings when navigating*/
    overflow:hidden;
    justify-content: center; /* centers whole section*/
    z-index: 2;
}

.content {
  padding: 30px;
}

.image_txt_container {
  display:flex;
  justify-content: center; /* centers whole section*/
}

.image_txt_container a {
  padding: 10px;
}

/*.content {
  padding: 30px;
}*/

/*Start section*/

#portrait {
    width: 45%;
    height: 100%;
    padding: 10px;
}

#start_section {
    color: white;
    background-color: #85C1E9; /*pink*/
    padding-top: 60px;
}

#name {
  font-size: 8vw;
  font-family: 'Sedgwick Ave', cursive;
}

#updates_block {
  visibility: hidden;
  width: 33vw;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

#updates_block p {
  font-size: 2vw;
  padding: 30px;
}

/*About section*/

#about_section {
  /*background-color: #F4ECF7; /*light purple*/*/
}

#about_blocks_container {
  height: 100%;
  width: 100%;
  display: flex;
}

.about_block {
  width: 50%;
  /*text-align: center;*/
  /*background-color: #FFD3C6;*/
  /*border: 2px solid black;*/
  /*border-color: white;*/
  margin: 10px;
  padding: 10px;

  /*color: #FFD3C6;*/
}

#about_intro_block {

}
#academics_block {
  color: white;
  background-color: #85C1E9;
}

.about_block .about_block_header {
  text-align: center;
}

/*project section*/
#projects_section {
  background-color: #85C1E9;
  color: white;
}

#projects_selection_panel {
  display: flex;
}

#projects_selection_panel .projects_description_box .a_project_description {
  position: absolute;
  visibility: hidden;
  /*width: 60vw;*/
  height: 100%;
  /*z-index: inherit;*/
}

#project_buttons {
  padding: 10px;
}

#project_buttons button {
  display: block;
  width: 30vw;
  background-color: #85C1E9;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

#project_buttons button:focus {
  background-color: black;
  color: white;
  outline: 0;
}

/*activities*/
/*contact section*/

#contact_section {
  background-color: #85C1E9;
  color: white;
}

#contact_section_info {
  display: flex;
}

#contact_section_info .block {
  width: 50%;
  padding: 10px;
}

#social_media img {
  display: inline-block; /*display vertically*/
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
}









