

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Navigation bar */

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav_bar_option {
  float: left;
}

.nav_bar_option .nav_bar_text {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav_bar_option .nav_bar_text:hover {
  background-color: #333; /* Change the link color to gray on hover */
}



/*Sections*/

#wrapper {
    margin-left:auto;
    margin-right:auto;
}

.info_section_heading {
    font-size: 40px;
    text-align: center;
}

section {
    width: 100%;
    height: 100vh; /* fills height */
    padding: 30px; /*so nav doesnt cover headings when navigating*/
    overflow:hidden;
}

.image_txt_container {
  display:flex;
  /*align-items:center;*/
  justify-content: center; /* centers whole section*/
}

/*.content {
  padding: 30px;
}*/

/*Start section*/

#portrait {
    width: 45%;
    height: 100%;
    padding: 10px;
}

#start_section {
/*    margin-top: 50px;*/
    background-color: #FFB6C1;
}

/*About section*/

#about_section {
  background-color: #FFA07A;
}

#about_blocks_container {
  height: 100%;
  width: 100%;
  display: flex;
}

.about_block {
  width: 33.33%;
  text-align: center;
  background-color: black;
  margin: 10px;
  padding: 10px;
  color: white;
}

#projects_section {
  background-color: #E0FFFF;
}

#contact_section {
  background-color: #98FB98;
}

#contact_section_info {
  display: flex;
}

#contact_section_info .block {
  width: 50%;
  padding: 10px;
}

#social_media img {
  display: inline-block; /*display vertically*/
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
}









